.wrapperInput {
  display: flex;
  align-items: center;
  gap: 16px;

  label {
    flex: 1 1 auto;
  }
}

.buttonDelete {
  cursor: pointer;

  &:hover {
    path {
      transition: all 0.2s ease-in-out;
      fill: #5558FA;
    }
  }
}