.root {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .header {
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  .tip {
    padding-top: 8px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.48);
  }
}
